.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: auto;
    background-color: #e7e7e7ea;
}

.nav{
    display: flex;
    gap: 50px;
}

.nav_btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}